@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --armycolor: #0B4803;
  --armyhover: #072e02;
  --textgray: #888;
  --textgraybold: #222;
};

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
